body {
    font-family: Arial, sans-serif;
    background-color: #dd7ba9;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(247, 176, 215);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin: 20px 0;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #750a62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-style: initial;
}

button:hover {
    background-color: #da96c9;
    font-size: larger;
    font-style: italic;
}

#result {
    text-align: center;
    margin-top: 20px;
}
